/*设置整体风格*/
/*.body{
	color: #000000;
    background: #293949;
}*/
.pagination{
	position: absolute;
	bottom: 60px;
	right: 120px;
}

/*设置所有的信息标签的大小*/
.label.label-info{
	font-size:20px;
}

/*设置书籍信息屏幕居中*/
.center{
	vertical-align: middle; 
}

/*设置所有table的整体风格*/
.commonTable{
	margin-left: auto; 
	margin-right: auto; 
	border:7px;
}

tr{
	height: 70px;
}