li{
    list-style-type: none;
}
/*classify.html*/
.container{
    margin-top:10px;
}

.bookLists ul:first-child li{
    border: 1px solid #000;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.bookLists ul:first-child li a{
    font-size:16px;
    font-family: 微软雅黑;
    color: #000;
}
.bookLists ul:first-child li a:hover{
    color: #5bc0de;
}
.bookLists ul +ul li{
    border-bottom:1px solid #000;
}

.bookLists ul +ul li div img{
    margin-bottom:10px;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
}
.navManage div{
    border: 1px solid #000;
}
.navManage div a{
    margin-top:40px;
    margin-bottom:40px;
}

/*information.html*/
.informationList .avatar{
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
}
.preSelect{
    border: none;
    background-color: transparent!important;
    box-shadow: none;
    cursor: default!important;
}

@media (min-width: 1200px) {
    .col-lg-5ths{
        width: 20%;
        float: left;
        padding: 10px;
        margin-bottom:20px;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
    .col-md-5ths{
        width: 20%;
        float: left;
        padding: 10px;
        margin-bottom:20px;
    }
}
@media (max-width: 992px){
    .col-md-5ths{
        clear: both;
    }
}